@import "micro-clearfix";

*, *:before, *:after {
	box-sizing: border-box;
}

@keyframes fadein {
    0% {opacity:0;}
    25% {opacity:0;}
    75% {opacity:1;}
    100% {opacity:1;}
}

body {
	font-family: Raleway, Verdana, sans-serif;
	animation: fadein 0.5s;
	background-color: #726865;
}

a {
	text-decoration: none;
	color: #86decc;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.flat-btn {
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #65b3a2;
	font-weight: 400;
	font-size: 18px;
	color: #fffdfa;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.1s ease;
	&:hover {
		background-color: #60A899;
	}
}

ul.unstyled {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

.wrapper {
	margin: 0 auto;
	position: relative;
}

.notch {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: -20px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f5f2f0;
	z-index: 2;
}

.header {
	position: relative;
	padding: 130px 0;
	color: #746f65;
	background-color: #fffdfa;

	.hero-img {
		img {
			border-radius: 50%;
			height: 200px;
		}
	}

	.name {
		font-size: 2.6em;
	}

	.hero-text {
		.bio {
			font-size: 18px;
			line-height: 1.7;
		}
	}

	.social-links {
		margin-top: 10px;
		margin-bottom: 0;
		padding: 0;
		font-size: 30px;
		overflow: hidden;
		li {
			float: left;
			a {
				padding: 10px;
				font-size: 18px;
				color: #cdcac6;
				&:hover {
					color: darken(#cdcac6, 10);
				}
			}
		}
	}

	.notch {
		border-top-color: #fffdfa;
	}
}

section {
	position: relative;

	.section-header {
		text-align: center;
	}

	.tiles {
		margin: 0;
		padding: 0;

		img {
			width: 100%;
			border-radius: 4px;

			&.grey-border {
				border: 1px solid #e5e5e5;
			}
		}

		.name {
			margin-top: 15px;
		}
	}

	&.shaded {
		background-color: #DBD9D7;
		color: #746f65;
		.notch {
			border-top-color: #DBD9D7;
		}
	}

	&.light {
		background-color: #f5f2f0;
		color: #746f65;
		.notch {
			border-top-color: #f5f2f0;
		}
	}
}

footer {
	color: #d0d5d4;
	padding: 40px 35px 35px 35px;
	text-align: center;

	.copy-text {
		height: 40px;
		line-height: 40px;
	}
}

@media screen and (min-width: 1040px) {
	.header .wrapper {
		width: 765px;

		.hero-img, .hero-text {
			float: left;
		}

		.hero-img {
			margin-right: 50px;
		}

		.hero-text {
			.name {
				margin: 4px 0 8px -4px;
			}
		}

		.social-links {
			margin-left: -10px;
		}
	}
	section {
		padding: 130px 20px;

		.wrapper {
			width: 1000px;

			.tiles {
				margin: 0 -10px;

				.tile {
					width: 490px;
					margin: 15px 10px;
					float: left;

					a {
						text-align: center;
						display: inline-block;
						font-weight: 200;
						font-size: 18px;
						color: #746f65;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1039px) {
	.header {
		padding: 40px 20px;

		.hero-img {
			text-align: center;
		}
	}

	section {
		padding: 40px 20px;

		.name {
			display: none;
		}
	}

	.section-header {
		margin-top: 0;
	}
}

@media screen and (min-width: 540px) {
	.bio {
		width: 500px;
	}
}

@media screen and (max-width: 699px) {
	.tile {
		margin: 10px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	footer {
		padding-left: 12px;
		padding-right: 12px;
		.copy-text {
			display: block;
			padding-top: 10px;
			float: none;
			text-align: center;
		}
		.flat-btn {
			float: none;
			display: block;
		}
	}
}

@media screen and (max-width: 1039px) and (min-width: 700px) {
	.tile {
		width: 46%;
		margin: 15px 2%;
		float: left;
	}
}

@media screen and (max-width: 1039px) and (min-width: 540px) {
	.bio {
		margin: 0 auto;
	}
}

@media screen and (max-width: 1039px) and (min-width: 321px) {
	.header {
		.name {
			text-align: center;
		}

		.social-links {
			width: 115px;
			margin: 0 auto;
		}
	}
}
